# Data
pandas
matplotlib
seaborn

# LLM
groq
langchain-groq
langchain-core
langchain

# Storage
boto3

# Database
sqlalchemy
psycopg2-binary

# Validation
pydantic[email]

# Auth
bcrypt
python-jose[cryptography]
authlib
itsdangerous

# API
fastapi
uvicorn[standard]
python-multipart
httpx
requests
starlette

# Config
python-dotenv