# Data
pandas
matplotlib
seaborn
scipy
openpyxl
pyarrow
fastparquet

# LLM
groq
langchain-groq
langchain_google_genai
langchain-openai
langchain-core
langchain
tabulate

# Storage
boto3
redis

# Database
sqlalchemy
psycopg2-binary

# Validation
pydantic[email]

# Auth
bcrypt
python-jose[cryptography]
authlib
itsdangerous
httpx

# API
fastapi
uvicorn[standard]
python-multipart
httpx
requests
starlette

# Config
python-dotenv
pytest-asyncio
pytest